body {
    background-color: #e5e5e5;
}
.nav-extended {
    background-image: url("../img/capa.jpg");
    background-size: contain;
    background-blend-mode: soft-light;
}
nav ul li.active,
.tab a.active{
    border-bottom: 2px solid #fff;
}
.nav-header h1{
    text-shadow: 2px 2px 8px #000;
}